<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Length:</strong>
  <%= @word.sub_length %>
</p>

<p>
  <strong>Sub word:</strong>
  <%= @word.sub_word %>
</p>



<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Length</th>
      <th>Sub word</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.word %></td>
        <td><%= word.sub_length %></td>
        <td><%= word.sub_word %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Back', new_word_path  %>
